@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.pr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.imagen{
    position: relative;
    background-color: black;
    width: 100vh;
    height: 100vh;
    transition: 0.5s all;
}
.ima{
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}
.ime{
    display: block;
    margin-left: auto;
    margin-right: 100px;
    width: 200px;
    height: 190px;
}
.texto{
    background-color:transparent;
    margin-right:100px;
    margin-top: 200px;
    width: 40%;

}
.parra{
    width: 43em;
    text-align: center;
    margin-left: -25px;
}
.medio{
    font-size: 2.4rem;
    font-family: 'Prompt', sans-serif;
    letter-spacing: -2px;
}
.grande{
    margin-top: -40px;
    color: #80e5c1;
    font-family: 'Bowlby One', cursive;
    font-size: 4.5rem;
    }
.nds{
    display: flex;

}
.aq{
    width: 100%;

}
.bts{
    padding: 8px 30px;
    background-color: #252222;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0 45px;
    border: 3px solid rgb(57, 170, 132);
    margin-right: -90px;
    text-align: right;
    margin-left: 120px;

}

.bts:hover{
    background-color: #9c9b9b;
    color: black;
}
.imagen:hover .ima{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.imagen{
    overflow: hidden;
}
@media (max-width:700px) {

    .imagen{
       
        width: 840px;
        height: 400px;
        
    }
    
    .texto{
        background-color:transparent;
       margin: 0;
        width: 100%;
        padding: 20px;
    
    }
    
}