*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #232323;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232323;
    padding: 10px;
}

.header-container { /* Nueva clase "header-container" */
    width: 100%; /* El header ocupará todo el ancho */
    position: fixed; /* Fijamos el header en la parte superior */
    top: 0;
    background-color: #232323;
}

  /* Estilos para el icono de carrito y usuario */

.material-symbols-sharp {    
    width: 30px;
    height: 30px;
}

img{
    margin-left: 60px;
    margin-top: 20px;
    height: 60px;
    width: auto;
}

/* estilos para la barra de busqueda */

.search {
	display: inline-flex;
	align-items: center;
	background-image: linear-gradient(45deg, #85d7da, #18e0b5);
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}
.search :is(input, button) {
	background: transparent;
	color: inherit;
	border: none;
	outline: none;
}
.search__input {
	width: 0;
	transition: width 0.5s;
}
.search__button {
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: color 0.25s;
}
.search__button:hover {
	color: #e3e3e3;
}
.search:focus-within input {
	width: 200px;
}
::placeholder {
	font: inherit;
	color: #e3e3e3;
}


/* Media Query for even smaller screens */
@media (max-width: 480px) {
    input {
        width: 200px;
        padding-right: 40px;
    }   

    /* Additional styles for mobile devices */
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    img{
        margin-left: 120px;
        margin-top: 20px;
        height: 60px;
        width: auto;
    }
    
    .material-symbols-sharp {
        font-size: 1.3rem;
    }
}

/*HAMBURGUESA*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root
{
    --white: #f9f9f9;
    --green: #229395;
    --green-light: #7acbcd;
    --black: #36383F;
    --grey: #85888C;
}

body
{
    font-family: "Poppins", sans-serif;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.menulateral
{
    background-color: #232323;
    position: sticky;
    top: 0;
    width: 100%;
}
.menu #modificar{
    font-size: 2.4rem;
    color: white;
}

.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--green);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a
{
    display: block;
    padding: 30px;
    color: var(--white);
    font-size: 1.7rem;
    color: white;
}

.menu a:hover
{
    background-color: var(--green-light);
}

.hamb
{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line 
{
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--green-light)
    }

    .hamb
    {
        display: none;
    }
}