/* Globales */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 90%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #232323;
}

table {
    background: #fff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    transition: all 300ms ease;
}

th, td {
    padding: 10px;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #007bff;
}

.Container{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.buton {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.service-modal-body .buton {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.service-modal-body input,textarea{
    font: inherit;
	border: none;
    top: 20px;
    font-weight: bold;
    width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: rgb(241, 241, 241);
    height: 100%;
}

input,textarea::placeholder {
    color: #49c691;
    font-weight: lighter;
    font-style: italic;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.service-modal{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.service-modal.active{
    visibility: visible;
    opacity: 1;
}

.service-modal-body{
    position: relative;
    background: #fff;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.service-modal-body .modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.service-modal-body h3{
    font-size: 2em;
}

.service-modal-body h4{
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}